@font-face {
  font-family: nunito;
  src: url(fonts/Nunito-Regular.ttf)
}
@font-face {
  font-family: nunito-l;
  src: url(fonts/Nunito-Light.ttf)
}
@font-face {
  font-family: nunito-sb;
  src: url(fonts/Nunito-SemiBold.ttf)
}

body {
  margin: 0;
  font-family: nunito;
}

.dark {
  background-color: #375063;
  color: white; 
}
.inactive {
  opacity: 0.5; 
  pointer-events: none; 
}

ul {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline;
}
.logo {
  display: block;
  font-size: 25px;
  list-style-type: none;
  padding: 10px 18px;
  font-size: 30px;
  color: black;
  background-color: #f7f7f7;
  border-bottom: solid 1px;
  border-color: #d9d9d9;
  box-shadow: 0px 0px 5px 0px grey;
  font-family: nunito-sb;
}

li {
  float: right;
}

li a {
  display: block;
  color: #9cbfd6;
  text-align: left;
  padding: 14px 16px;
}
.red li a  {
  color: #ffa1a1;
}
a {
  text-decoration: none;
  color: inherit; 
}
  a:hover {
    color: grey;
    transition: opacity linear 100ms;
  }
.content {
  margin-left: 1px;
  z-index: -1;   
}
.timer-container {
  display: flex; 
  /*background-image: url(./images/spirited-away1.jpg)*/
}
.split {
  width: 49.25%;
  float: left;
  margin: 0 auto;
}

.divide { 
  width: 0.05%;; 
  background-color: rgb(190, 190, 190); 
  margin-top: 0; 
  float: left; 
  height: 100vh;
  padding: 0;
}
.task-entry {
  animation: fadeIn 500ms;
}
#task, #time {
  font-family: nunito-l;
  float: left; 
  border: none; 
  margin: 20px 2px;   
}
  #time {
    width: 15%; 
    border-bottom: solid 1px;
  }
  #task {
    width: 50%; 
    border-bottom: solid 1px;
  }
button {
  color: inherit; 
  background-color: inherit; 
}
.btn { 
  font-family: nunito-sb;
  display: block;
  font-size: 12px;  
  text-align: center; 
  border: none;
  border-radius: 2px; 
  background-color: #9cbfd6;
  color: white; 
  padding: 6px 12px;
  margin: 10px 5px 0 0;
  float: left; 
}
.red .btn  {
  background-color: #ffa1a1
}
.btn:hover {
  opacity: 0.7;
}
.inactive:hover {
  opacity: 1; 
}
.white {
  background-color: #ededed; 
  color: black; 
  
}
.btn-container {
  overflow: hidden; 
  width: 100%; 
  padding-bottom: 20px;  
}
.x-btn {
  font-family: nunito-sb;
  font-size: 15px; 
  color: inherit;
  background-color: transparent;
  border: none; 
  margin: 0 10px 0 0; 
  padding: 0.5px 0;
  display: block;
  float: left; 
  align-items: baseline; 
  transition: color 100ms linear; 
}
  .x-btn:hover {
    color: #ffa1a1; 
  }
input {
  color: inherit; 
  background-color: inherit;
  border-color: inherit;
  border-width: 1.5px;  
}
::placeholder {
  color: inherit; 
}
#task-title {
  float: left; 
  display: inline;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
}
#task-time {
  float: right; 
  display: inline;
  overflow: hidden; 
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
}
#timer {
  font-size: 3em;
  overflow: hidden; 
  border: solid 2px #9cbfd6;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  padding: 5% 0; 
  background-color: white; 
  color: black; 
}
.red #timer  {
  border: solid 2px #ffa1a1; 
}
.dark #timer {
  background-color: inherit; 
  color: inherit;
}
#task-label {
  font-size: 16px; 
  font-style: italic; 
  padding: 10px 0;
}
.text-field {
  font-family: nunito-l;
  float: none; 
  margin: 10px 0;  
  width: 90%;
}
#breakLength {
  width: 10%; 
  margin: 0 0 20px 0; 
  float: none; 
  background-color: white; 
  color: black; 
}
.signin {
  width: 250px;
  margin: 50px auto;
  padding: 40px;
  overflow: hidden; 
  border: solid 0.1px #d6d6d6;
  border-radius: 5px; 
  color: black; 
  background-color: white;
  box-shadow: 2px 2px 4px 2px #d6d6d6;
}
.dark .signin {
  box-shadow: none; 
}
.active {
  font-weight: bold;  
}
.message {
  width: 80%; 
  font-size: 14px; 
  margin: 8px 0; 
  overflow: hidden; 
}
.message button{
  text-decoration: underline; 
  font-size: 12px;
  margin: 4px 0; 
  background-color: transparent;
  border: none; 
  padding: 0;
  font-family: nunito;  
}
.message .x-btn { 
  text-decoration: none; 
  font-family: nunito-sb;
  font-size: 15px; 
  color: inherit;
  margin: 0 10px 0 0; 
  padding: 0.5px 0;
  display: block;
  float: right; 
  align-items:center;  
}
.message button:hover {
  opacity: 0.7; 
}
#signup, #logout {
  display: none; 
}
.page-container {
  width: 70%; 
  margin: 20px auto; 
}
.page-container h1 {
  margin-bottom: 0; 
}
.page-container p {
  margin-bottom: 20px; 
  margin-top: 0; 
}
.dash {
  background-color: #f7f7f7;
  color: black; 
  /*border: solid 0.1px #ced9e0; */
  border-radius: 5px; 
  box-shadow: 2px 2px 2px 2px #ebebeb;
  overflow: hidden; 
  float: left; 
  width: 30%; 
  margin-right: 3%;
  min-height: 100px;  
}
.dark .dash {
  box-shadow: none;
}
.dash h4 {
  margin: 5%
}
.indented {
  margin: 0 18px; 
  display: block; 
  float: none; 
  opacity: inherit; 
}
p {
  margin: 0; 
}
.list-title { 
  display: block; 
  text-decoration: none; 
  color: gray; 
  margin: 0 18px; 
}
  .list-title:hover {
    opacity: 0.5; 
    transition: opacity 100ms linear;
  }

.list-date {
  display: block; 
  cursor: pointer; 
  text-decoration: underline;
  margin: 10px 0;
}
.dark .list-date  {
  color: rgb(235, 235, 235); 
}
.list-contents {
  display: none;
  margin: 10px 18px; 
  padding: 10px; 
  width: 50%; 
  font-style: italic; 
  background-color: white; 
  color: black;  
  border: solid 0.5px #d6d6d6;  
  box-shadow: 2px 2px 4px 2px#d6d6d6;
  border-radius: 2px; 
}
.dark .list-contents {
  box-shadow: none;
}
.checklist {
  display: block; 
}
.checklist input {
  float: left; 
}
#summary {
  opacity: 0; 
  margin: 30px 0; 
  padding: 15px; 
  border-radius: 5px; 
  background-color: #f7f7f7;
  transition: opacity linear 500ms; 
}
.btn-container #new-entry {
  margin: 0; 
}
#new-entry {
  width: 77.68px; 
  transition:cubic-bezier(0.6, -0.28, 0.735, 0.045); 
}


@media screen and (max-width: 700px) {

  .split {
    width: 100%;
    float: none; 
  }

  .divide {
    display: none; 
  }
  .timer-container {
    display: block; 
  }
}
#import-list {
  display: none;
  width: 80%;
  min-height: 50vh; 
  margin: auto 10vh; 
  background-color: white; 
  z-index: 1;
  position: absolute; 
  box-shadow: 0px 0px 5px 0px grey;
}
.impt-btn {
  display: none; 
  float: right; 
}

/*LOADING ANIMATION*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #9cbfd6 #9cbfd6 #9cbfd6;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*COLOR ANIMATION*/

#myDIV {
	background: linear-gradient(-45deg, white, #b2dbf5, #c1eaf7 , #8bbbce);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
.dark #myDIV {
  background: linear-gradient(-45deg, #375063, #546875, #7c9db3, #9cbace);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
