@font-face {
  font-family: nunito;
  src: url(fonts/Nunito-Regular.ttf)
}
@font-face {
  font-family: nunito-l;
  src: url(fonts/Nunito-Light.ttf)
}
@font-face {
  font-family: nunito-sb;
  src: url(fonts/Nunito-SemiBold.ttf)
}

body {
  margin: 0;
  font-family: nunito;
}

.darkNav {
  background-color: #3e4b57;
  color: white; 
}
.dark {
  background-color: #546875; 
  color: white; 
}
.content {
  padding: 10px 0;  
}
ul {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline;
}
.logo {
  display: block;
  font-size: 25px;
  list-style-type: none;
  padding: 10px 18px;
  font-size: 30px;
  color: black;
  background-color: #f7f7f7;
  border-bottom: solid 1px;
  border-color: #d9d9d9;
  box-shadow: 0px 0px 5px 0px grey;
  font-family: nunito-sb;
}
li {
  float: right;
}

li a {
  display: block;
  color: #9cbfd6;
  text-align: left;
  padding: 14px 16px;
}
a {
  text-decoration: none;
  color: inherit; 
}
  a:hover {
    color: grey;
    transition: opacity linear 100ms;
  }
.content {
  margin-left: 1px;
  z-index: -1;   
}
.timer-container {
  display: flex; 
}
.split {
  width: 49.25%;
  float: right;
  margin: 0 auto;
}
.divide { 
  width: 0.05%;; 
  background-color: grey; 
  margin-top: 0; 
  float: right; 
  height: 100vh;
  padding: 0;
}

#task, #time {
  font-family: nunito-l;
  float: left; 
  border: none; 
  margin: 20px 2px;  
}
  #time {
    width: 15%; 
    border-bottom: solid 1px;
  }
  #task {
    width: 50%; 
    border-bottom: solid 1px;
  }
.btn { 
  font-family: nunito-sb;
  display: block;
  font-size: 12px;  
  text-align: center; 
  border: none;
  border-radius: 2px; 
  background-color: #9cbfd6;
  color: white; 
  padding: 1% 2%;
  margin: 10px 5px 0 0;
  float: left; 
}
.btn:hover {
  opacity: 0.7;
}
.inactive:hover {
  opacity: 1; 
}
.white {
  background-color: #ededed; 
  color: black; 
  box-shadow: 5px black; 
}
.btn-container {
  overflow: hidden; 
  width: 100%; 
  margin-bottom: 10px;  
}
.x-btn {
  font-family: nunito-sb;
  font-size: 15px; 
  color: black;
  background-color: transparent;
  border: none; 
  margin: 0 10px 0 0; 
  padding: 0.5px 0;
  display: block;
  float: left; 
  align-items: baseline; 
}
#task-title {
  float: left; 
  display: inline;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
}
#task-time {
  float: right; 
  display: inline;
  overflow: hidden; 
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
}
#timer {
  font-size: 3em;
  overflow: hidden; 
  border: solid 2px #9cbfd6;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  padding: 5% 0; 
  background-color: white; 
  color: black; 
}
#task-label {
  font-size: 16px; 
  font-style: italic; 
  padding: 10px 0;
}
.text-field {
  font-family: nunito-l;
  float: none; 
  margin: 10px 0;  
  width: 90%;
}
#breakLength {
  width: 10%; 
  margin: 0 0 20px 0; 
  float: none; 
}
.signin {
  width: 250px;
  margin: 50px auto;
  padding: 40px;
  overflow: hidden; 
  border: solid 1px;
  border-radius: 5px; 
}
.active {
  font-weight: bold;  
}
.message {
  width: 80%; 
  font-size: 14px; 
  margin: 8px 0; 
  overflow: hidden; 
}
.message button{
  text-decoration: underline; 
  font-size: 12px;
  margin: 4px 0; 
  background-color: transparent;
  border: none; 
  padding: 0;
  font-family: nunito;  
}
.message button:hover {
  opacity: 0.7; 
}
#signup, #logout {
  display: none; 
}
.page-container {
  width: 70%; 
  margin: auto; 
}
.page-container h1 {
  margin-bottom: 0; 
}
.page-container p {
  margin-bottom: 20px; 
  margin-top: 0; 
}
.dash {
  background-color: #edf3f7;
  border: solid 1px; 
  border-radius: 5px; 
  overflow: hidden; 
  float: left; 
  width: 30%; 
  margin-right: 3%;
  min-height: 100px;  
}
.dash h4 {
  margin: 5%
}
.indented {
  margin: 0 18px; 
  display: block; 
  float: none; 
}
p {
  margin: 0; 
}
.list-contents {
  display: none;
  font-style: italic; 
}

.checklist {
  display: block; 
}
.checklist input {
  float: left; 
}
@media screen and (max-width: 700px) {

  .split {
    width: 100%;
    float: none; 
  }
  .divide {
    display: none; 
  }
  .timer-container {
    display: block; 
  }
}