
/*#navbar {
    width: 100% !important; 
    height: auto; 
    overflow: hidden; 
}
.x-icon {
    display: none !important; 
}
.nav {
    padding: 6px 0
}
.nav li {
    float: right;
}  
.nav li a, .nav li p, .logo {
    display: block;
    color: #b0b0b0; 
    text-align: left;
    padding: 4px 16px;
}
.logo {
    color: black;
    float: left; 
}
.content {
    margin: 0; 
}*/
#welcome {
    display: grid; 
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'words space';
    padding: 5%;
    font-size: 30px;
    text-align: right;
    font-style: italic;
    background-color: rgba(156, 191, 214, 0.2);
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.feat {
    
    padding: 5%;
}
.desc {
    padding: 5%;
}
.scrollFade {
    opacity: 1;
    pointer-events: all;
}
.scrollFade--hidden {
    opacity: 0.4;
    padding: 5% 0 0 1%; 
    pointer-events: none;
}
.scrollFade--visible {
    opacity: 1;
    padding: 0;
    pointer-events: all;
}
.scrollFade--animate {
    transition: opacity 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
}
  